[submodule "libraries/doctest"]
	path = libraries/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "libraries/fmt"]
	path = libraries/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libraries/FTXUI"]
	path = libraries/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
